In [1]:
import pandas as pd
import numpy as np

In [2]:

csv1 = "2015-citibike-tripdata/1_January/201501-citibike-tripdata_1.csv"
csv2 = "2015-citibike-tripdata/2_February/201502-citibike-tripdata_1.csv"
csv3 = "2015-citibike-tripdata/3_March/201503-citibike-tripdata_1.csv"
csv4 = "2015-citibike-tripdata/4_April/201504-citibike-tripdata_1.csv"
csv5 = "2015-citibike-tripdata/5_May/201505-citibike-tripdata_1.csv"
csv6 = "2015-citibike-tripdata/6_June/201506-citibike-tripdata_1.csv"
csv7a = "2015-citibike-tripdata/7_July/201507-citibike-tripdata_1.csv"
csv7b = "2015-citibike-tripdata/7_July/201507-citibike-tripdata_2.csv"
csv8a = "2015-citibike-tripdata/8_August/201508-citibike-tripdata_1.csv"
csv8b = "2015-citibike-tripdata/8_August/201508-citibike-tripdata_2.csv"
csv9a = "2015-citibike-tripdata/9_September/201509-citibike-tripdata_1.csv"
csv9b = "2015-citibike-tripdata/9_September/201509-citibike-tripdata_2.csv"
csv10a = "2015-citibike-tripdata/10_October/201510-citibike-tripdata_1.csv"
csv10b = "2015-citibike-tripdata/10_October/201510-citibike-tripdata_2.csv"
csv11 = "2015-citibike-tripdata/11_November/201511-citibike-tripdata_1.csv"
csv12 = "2015-citibike-tripdata/12_December/201512-citibike-tripdata_1.csv"

trip_Jan = pd.read_csv(csv1)
trip_Feb = pd.read_csv(csv2)
trip_Mar = pd.read_csv(csv3)
trip_Apr = pd.read_csv(csv4)
trip_May = pd.read_csv(csv5)
trip_Jun = pd.read_csv(csv6)
trip_Jula= pd.read_csv(csv7a)
trip_Julb= pd.read_csv(csv7b)
trip_Auga= pd.read_csv(csv8a)
trip_Augb= pd.read_csv(csv8b)
trip_Septa= pd.read_csv(csv9a)
trip_Septb= pd.read_csv(csv9b)
trip_Octa= pd.read_csv(csv10a)
trip_Octb= pd.read_csv(csv10b)
trip_Nov= pd.read_csv(csv11)
trip_Dec= pd.read_csv(csv12)

In [3]:
trip_Jan_df = trip_Jan
trip_Feb_df = trip_Feb
trip_Mar_df = trip_Mar
trip_Apr_df = trip_Apr
trip_May_df = trip_May
trip_Jun_df = trip_Jun
trip_Jula_df = trip_Jula
trip_Julb_df = trip_Julb
trip_Auga_df = trip_Auga
trip_Augb_df = trip_Augb
trip_Sepa_df = trip_Septa
trip_Sepb_df = trip_Septb
trip_Octa_df = trip_Octa
trip_Octb_df = trip_Octb
trip_Nov_df = trip_Nov
trip_Dec_df = trip_Dec

In [5]:
trip_Jan_df = trip_Jan
trip_Jan_df.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1346,1/1/2015 0:01,1/1/2015 0:24,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,-73.991475,18660,Subscriber,1960.0,2
1,363,1/1/2015 0:02,1/1/2015 0:08,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,16085,Subscriber,1963.0,1

In [6]:
trip_Dec_df = trip_Jan
trip_Dec_df.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1346,1/1/2015 0:01,1/1/2015 0:24,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,-73.991475,18660,Subscriber,1960.0,2
1,363,1/1/2015 0:02,1/1/2015 0:08,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,16085,Subscriber,1963.0,1

In [7]:
trip_Jan_df.dtypes
trip_Feb_df.dtypes
trip_Mar_df.dtypes
trip_Apr_df.dtypes
trip_May_df.dtypes
trip_Jula_df.dtypes
trip_Julb_df.dtypes
trip_Auga_df.dtypes
trip_Augb_df.dtypes
trip_Sepa_df.dtypes
trip_Sepb_df.dtypes
trip_Octa_df.dtypes
trip_Octb_df.dtypes
trip_Nov_df.dtypes
trip_Dec_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                 float64
gender                       int64
dtype: object

In [8]:
trip_Jan_df["gender"] = trip_Jan_df["gender"].astype(str)
trip_Feb_df["gender"] = trip_Feb_df["gender"].astype(str)
trip_Mar_df["gender"] = trip_Mar_df["gender"].astype(str)
trip_Apr_df["gender"] = trip_Apr_df["gender"].astype(str)
trip_May_df["gender"] = trip_May_df["gender"].astype(str)
trip_Jun_df["gender"] = trip_Jun_df["gender"].astype(str)
trip_Jula_df["gender"] = trip_Jula_df["gender"].astype(str)
trip_Julb_df["gender"] = trip_Julb_df["gender"].astype(str)
trip_Auga_df["gender"] = trip_Auga_df["gender"].astype(str)
trip_Augb_df["gender"] = trip_Augb_df["gender"].astype(str)
trip_Sepa_df["gender"] = trip_Sepa_df["gender"].astype(str)
trip_Sepb_df["gender"] = trip_Sepb_df["gender"].astype(str)
trip_Octa_df["gender"] = trip_Octa_df["gender"].astype(str)
trip_Octb_df["gender"] = trip_Octb_df["gender"].astype(str)
trip_Nov_df["gender"] = trip_Nov_df["gender"].astype(str)
trip_Dec_df["gender"] = trip_Dec_df["gender"].astype(str)

In [9]:
gender_Jan = trip_Jan_df["gender"]
gender_Jan = gender_Jan.replace({"1": "Male", "2": "Female", "0":"unknown"})
trip_Jan_df["gender"] = gender_Jan

trip_Jan_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1346,1/1/2015 0:01,1/1/2015 0:24,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,-73.991475,18660,Subscriber,1960.0,Female
1,363,1/1/2015 0:02,1/1/2015 0:08,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,16085,Subscriber,1963.0,Male
2,346,1/1/2015 0:04,1/1/2015 0:10,491,E 24 St & Park Ave S,40.740964,-73.986022,505,6 Ave & W 33 St,40.749013,-73.988484,20845,Subscriber,1974.0,Male
3,182,1/1/2015 0:04,1/1/2015 0:07,384,Fulton St & Waverly Ave,40.683178,-73.965964,399,Lafayette Ave & St James Pl,40.688515,-73.964763,19610,Subscriber,1969.0,Male
4,969,1/1/2015 0:05,1/1/2015 0:21,474,5 Ave & E 29 St,40.745168,-73.986831,432,E 7 St & Avenue A,40.726218,-73.983799,20197,Subscriber,1977.0,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285547,169,1/31/2015 23:57,2/1/2015 0:00,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,368,Carmine St & 6 Ave,40.730386,-74.002150,17456,Subscriber,1956.0,Male
285548,827,1/31/2015 23:58,2/1/2015 0:12,252,MacDougal St & Washington Sq,40.732264,-73.998522,440,E 45 St & 3 Ave,40.752554,-73.972826,17669,Subscriber,1976.0,Male
285549,798,1/31/2015 23:58,2/1/2015 0:11,127,Barrow St & Hudson St,40.731724,-74.006744,433,E 13 St & Avenue A,40.729554,-73.980572,20237,Subscriber,1994.0,Male
285550,725,1/31/2015 23:58,2/1/2015 0:10,435,W 21 St & 6 Ave,40.741740,-73.994156,368,Carmine St & 6 Ave,40.730386,-74.002150,21029,Subscriber,1957.0,Male
285551,892,1/31/2015 23:59,2/1/2015 0:14,504,1 Ave & E 15 St,40.732219,-73.981656,295,Pike St & E Broadway,40.714067,-73.992939,18342,Subscriber,1974.0,Male

In [10]:
gender_Feb = trip_Feb_df["gender"]
gender_Feb = gender_Feb.replace({"1": "Male", "2": "Female", "0":"unknown"})
trip_Feb_df["gender"] = gender_Feb
trip_Feb_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,801,2/1/2015 0:00,2/1/2015 0:14,521,8 Ave & W 31 St,40.750450,-73.994811,423,W 54 St & 9 Ave,40.765849,-73.986905,17131,Subscriber,1978.0,Female
1,379,2/1/2015 0:00,2/1/2015 0:07,497,E 17 St & Broadway,40.737050,-73.990093,504,1 Ave & E 15 St,40.732219,-73.981656,21289,Subscriber,1993.0,Male
2,2474,2/1/2015 0:01,2/1/2015 0:42,281,Grand Army Plaza & Central Park S,40.764397,-73.973715,127,Barrow St & Hudson St,40.731724,-74.006744,18903,Subscriber,1969.0,Female
3,818,2/1/2015 0:01,2/1/2015 0:15,2004,6 Ave & Broome St,40.724399,-74.004704,505,6 Ave & W 33 St,40.749013,-73.988484,21044,Subscriber,1985.0,Female
4,544,2/1/2015 0:01,2/1/2015 0:10,323,Lawrence St & Willoughby St,40.692362,-73.986317,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,19868,Subscriber,1957.0,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196925,747,2/28/2015 23:57,3/1/2015 0:09,414,Pearl St & Anchorage Pl,40.702819,-73.987658,307,Canal St & Rutgers St,40.714275,-73.989900,16946,Subscriber,1990.0,Male
196926,204,2/28/2015 23:58,3/1/2015 0:02,428,E 3 St & 1 Ave,40.724677,-73.987834,326,E 11 St & 1 Ave,40.729538,-73.984267,21644,Subscriber,1971.0,Male
196927,675,2/28/2015 23:59,3/1/2015 0:11,545,E 23 St & 1 Ave,40.736502,-73.978095,312,Allen St & E Houston St,40.722055,-73.989111,20522,Subscriber,1985.0,Male
196928,651,2/28/2015 23:59,3/1/2015 0:10,396,Lefferts Pl & Franklin Ave,40.680342,-73.955769,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,14970,Subscriber,1992.0,Female
196929,636,2/28/2015 23:59,3/1/2015 0:10,537,Lexington Ave & E 24 St,40.740259,-73.984092,490,8 Ave & W 33 St,40.751551,-73.993934,17034,Subscriber,1995.0,Female

In [11]:
gender_Mar = trip_Mar_df["gender"]
gender_Mar= gender_Mar.replace({"1": "Male", "2": "Female", "0":"unknown"})
trip_Mar_df["gender"] = gender_Mar
trip_Mar_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,669,3/1/2015 0:00,3/1/2015 0:11,164,E 47 St & 2 Ave,40.753231,-73.970325,477,W 41 St & 8 Ave,40.756405,-73.990026,21409,Subscriber,1987.0,Male
1,750,3/1/2015 0:01,3/1/2015 0:14,258,DeKalb Ave & Vanderbilt Ave,40.689407,-73.968855,436,Hancock St & Bedford Ave,40.682166,-73.953990,19397,Subscriber,1968.0,Male
2,663,3/1/2015 0:01,3/1/2015 0:12,497,E 17 St & Broadway,40.737050,-73.990093,477,W 41 St & 8 Ave,40.756405,-73.990026,20998,Customer,NaN,unknown
3,480,3/1/2015 0:02,3/1/2015 0:10,470,W 20 St & 8 Ave,40.743453,-74.000040,491,E 24 St & Park Ave S,40.740964,-73.986022,21565,Subscriber,1983.0,Male
4,1258,3/1/2015 0:02,3/1/2015 0:23,345,W 13 St & 6 Ave,40.736494,-73.997044,473,Rivington St & Chrystie St,40.721101,-73.991925,14693,Subscriber,1970.0,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341821,536,3/31/2015 23:58,4/1/2015 0:07,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,421,Clermont Ave & Park Ave,40.695734,-73.971297,19615,Subscriber,1985.0,Male
341822,1030,3/31/2015 23:59,4/1/2015 0:16,495,W 47 St & 10 Ave,40.762699,-73.993012,404,9 Ave & W 14 St,40.740583,-74.005509,15086,Subscriber,1978.0,Male
341823,171,3/31/2015 23:59,4/1/2015 0:02,450,W 49 St & 8 Ave,40.762272,-73.987882,479,9 Ave & W 45 St,40.760193,-73.991255,18943,Subscriber,1986.0,Male
341824,616,3/31/2015 23:59,4/1/2015 0:09,455,1 Ave & E 44 St,40.750020,-73.969053,477,W 41 St & 8 Ave,40.756405,-73.990026,21364,Subscriber,1970.0,Male
341825,227,3/31/2015 23:55,3/31/2015 23:59,477,W 41 St & 8 Ave,40.756405,-73.990026,478,11 Ave & W 41 St,40.760301,-73.998842,16020,Subscriber,1998.0,Male

In [12]:
gender_Apr = trip_Apr_df["gender"]
gender_Apr= gender_Apr.replace({"1": "Male", "2": "Female", "0":"unknown"})
trip_Apr_df["gender"] = gender_Apr
trip_Apr_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,241,4/1/2015 00:00:23,4/1/2015 00:04:25,494,W 26 St & 8 Ave,40.747348,-73.997236,489,10 Ave & W 28 St,40.750664,-74.001768,15510,Subscriber,1992.0,Female
1,578,4/1/2015 00:00:52,4/1/2015 00:10:31,82,St James Pl & Pearl St,40.711174,-74.000165,2008,Little West St & 1 Pl,40.705693,-74.016777,15014,Subscriber,1982.0,Male
2,484,4/1/2015 00:01:28,4/1/2015 00:09:33,223,W 13 St & 7 Ave,40.737815,-73.999947,445,E 10 St & Avenue A,40.727408,-73.981420,20881,Subscriber,1986.0,Female
3,1144,4/1/2015 00:01:31,4/1/2015 00:20:36,393,E 5 St & Avenue C,40.722992,-73.979955,393,E 5 St & Avenue C,40.722992,-73.979955,20295,Subscriber,1977.0,Female
4,1023,4/1/2015 00:01:36,4/1/2015 00:18:40,212,W 16 St & The High Line,40.743349,-74.006818,438,St Marks Pl & 1 Ave,40.727791,-73.985649,19871,Subscriber,1979.0,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
652385,949,4/30/2015 23:59:27,5/1/2015 00:15:16,479,9 Ave & W 45 St,40.760193,-73.991255,404,9 Ave & W 14 St,40.740583,-74.005509,17948,Customer,NaN,unknown
652386,205,4/30/2015 23:59:30,5/1/2015 00:02:55,334,W 20 St & 7 Ave,40.742388,-73.997262,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,21359,Subscriber,1980.0,Male
652387,1413,4/30/2015 23:59:36,5/1/2015 00:23:09,519,Pershing Square North,40.751873,-73.977706,236,St Marks Pl & 2 Ave,40.728419,-73.987140,16156,Customer,NaN,unknown
652388,435,4/30/2015 23:59:40,5/1/2015 00:06:55,323,Lawrence St & Willoughby St,40.692362,-73.986317,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,19734,Subscriber,1990.0,Male
652389,380,4/30/2015 23:59:55,5/1/2015 00:06:15,494,W 26 St & 8 Ave,40.747348,-73.997236,474,5 Ave & E 29 St,40.745168,-73.986831,17068,Subscriber,1995.0,Male

In [13]:
gender_May = trip_May_df["gender"]
gender_May= gender_May.replace({"1": "Male", "2": "Female", "0":"unknown"})
trip_May_df["gender"] = gender_Mar
trip_May_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,415,5/1/2015 00:00:11,5/1/2015 00:07:06,477,W 41 St & 8 Ave,40.756405,-73.990026,442,W 27 St & 7 Ave,40.746647,-73.993915,17012,Subscriber,1981.0,Male
1,1523,5/1/2015 00:00:28,5/1/2015 00:25:52,293,Lafayette St & E 8 St,40.730287,-73.990765,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,17390,Customer,NaN,Male
2,642,5/1/2015 00:00:52,5/1/2015 00:11:35,380,W 4 St & 7 Ave S,40.734011,-74.002939,507,E 25 St & 2 Ave,40.739126,-73.979738,15003,Subscriber,1990.0,unknown
3,367,5/1/2015 00:00:48,5/1/2015 00:06:55,537,Lexington Ave & E 24 St,40.740259,-73.984092,280,E 10 St & 5 Ave,40.733320,-73.995101,14788,Subscriber,1978.0,Male
4,2734,5/1/2015 00:00:51,5/1/2015 00:46:26,426,West St & Chambers St,40.717548,-74.013221,327,Vesey Pl & River Terrace,40.715338,-74.016584,21068,Subscriber,1956.0,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
961981,541,5/31/2015 23:57:10,6/1/2015 00:06:12,536,1 Ave & E 30 St,40.741444,-73.975361,285,Broadway & E 14 St,40.734546,-73.990741,20118,Subscriber,1978.0,NaN
961982,2147,5/31/2015 23:58:48,6/1/2015 00:34:36,225,W 14 St & The High Line,40.741951,-74.008030,2022,E 59 St & Sutton Pl,40.758491,-73.959206,17819,Subscriber,1959.0,NaN
961983,572,5/31/2015 23:58:55,6/1/2015 00:08:27,157,Henry St & Atlantic Ave,40.690893,-73.996123,407,Henry St & Poplar St,40.700469,-73.991454,17801,Subscriber,1964.0,NaN
961984,380,5/31/2015 23:59:43,6/1/2015 00:06:04,265,Stanton St & Chrystie St,40.722293,-73.991475,297,E 15 St & 3 Ave,40.734232,-73.986923,21099,Subscriber,1985.0,NaN
961985,750,5/31/2015 23:59:59,6/1/2015 00:12:30,453,W 22 St & 8 Ave,40.744751,-73.999154,537,Lexington Ave & E 24 St,40.740259,-73.984092,16336,Subscriber,1985.0,NaN

In [14]:
gender_Jun = trip_Jun_df["gender"]
gender_Jun= gender_Jun.replace({"1": "Male", "2": "Female", "0":"unknown"})
trip_Jun_df["gender"] = gender_Jun
trip_Jun_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1338,6/1/2015 0:00,6/1/2015 0:22,128,MacDougal St & Prince St,40.727103,-74.002971,2021,W 45 St & 8 Ave,40.759291,-73.988597,20721,Subscriber,1984.0,Male
1,290,6/1/2015 0:00,6/1/2015 0:05,438,St Marks Pl & 1 Ave,40.727791,-73.985649,312,Allen St & E Houston St,40.722055,-73.989111,21606,Subscriber,1997.0,Male
2,634,6/1/2015 0:01,6/1/2015 0:11,383,Greenwich Ave & Charles St,40.735238,-74.000271,388,W 26 St & 10 Ave,40.749718,-74.002950,16595,Subscriber,1993.0,Male
3,159,6/1/2015 0:01,6/1/2015 0:04,361,Allen St & Hester St,40.716059,-73.991908,531,Forsyth St & Broome St,40.718939,-73.992663,16949,Subscriber,1981.0,Male
4,1233,6/1/2015 0:02,6/1/2015 0:22,382,University Pl & E 14 St,40.734927,-73.992005,532,S 5 Pl & S 4 St,40.710451,-73.960876,17028,Customer,NaN,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
941214,1053,6/30/2015 23:59,7/1/2015 0:17,323,Lawrence St & Willoughby St,40.692362,-73.986317,436,Hancock St & Bedford Ave,40.682166,-73.953990,17785,Subscriber,1989.0,Male
941215,1149,6/30/2015 23:59,7/1/2015 0:18,116,W 17 St & 8 Ave,40.741776,-74.001497,487,E 20 St & FDR Drive,40.733143,-73.975739,21612,Customer,NaN,unknown
941216,3557,6/30/2015 23:59,7/1/2015 0:58,454,E 51 St & 1 Ave,40.754557,-73.965930,418,Front St & Gold St,40.702240,-73.982578,19976,Customer,NaN,unknown
941217,819,6/30/2015 23:59,7/1/2015 0:13,410,Suffolk St & Stanton St,40.720664,-73.985180,345,W 13 St & 6 Ave,40.736494,-73.997044,15932,Subscriber,1976.0,Male
941218,667,6/30/2015 23:59,7/1/2015 0:10,308,St James Pl & Oliver St,40.713079,-73.998512,2008,Little West St & 1 Pl,40.705693,-74.016777,16915,Subscriber,1982.0,Male

In [15]:
gender_Jula = trip_Jula_df["gender"]
gender_Jula= gender_Jula.replace({"1": "Male", "2": "Female", "0":"unknown"})
trip_Jula_df["gender"] = gender_Jula
trip_Jula_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,732,7/1/2015 00:00:03,7/1/2015 00:12:16,489,10 Ave & W 28 St,40.750664,-74.001768,368,Carmine St & 6 Ave,40.730386,-74.002150,18669,Subscriber,1970.0,Male
1,322,7/1/2015 00:00:06,7/1/2015 00:05:29,304,Broadway & Battery Pl,40.704633,-74.013617,3002,South End Ave & Liberty St,40.711512,-74.015756,14618,Subscriber,1984.0,Male
2,790,7/1/2015 00:00:17,7/1/2015 00:13:28,447,8 Ave & W 52 St,40.763707,-73.985162,358,Christopher St & Greenwich St,40.732916,-74.007114,18801,Subscriber,1992.0,Male
3,1228,7/1/2015 00:00:23,7/1/2015 00:20:51,490,8 Ave & W 33 St,40.751551,-73.993934,250,Lafayette St & Jersey St,40.724561,-73.995653,19137,Subscriber,1990.0,Male
4,1383,7/1/2015 00:00:44,7/1/2015 00:23:48,327,Vesey Pl & River Terrace,40.715338,-74.016584,72,W 52 St & 11 Ave,40.767272,-73.993929,15808,Subscriber,1988.0,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,205,7/29/2015 17:11:28,7/29/2015 17:14:53,457,Broadway & W 58 St,40.766953,-73.981693,173,Broadway & W 49 St,40.760647,-73.984427,16614,Subscriber,1976.0,Male
999996,1024,7/29/2015 17:11:28,7/29/2015 17:28:33,459,W 20 St & 11 Ave,40.746745,-74.007756,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,22496,Subscriber,1986.0,Male
999997,552,7/29/2015 17:11:29,7/29/2015 17:20:41,2003,1 Ave & E 18 St,40.733812,-73.980544,444,Broadway & W 24 St,40.742354,-73.989151,23574,Subscriber,1993.0,Male
999998,434,7/29/2015 17:11:30,7/29/2015 17:18:44,517,Pershing Square South,40.751581,-73.977910,529,W 42 St & 8 Ave,40.757570,-73.990985,19818,Subscriber,1978.0,Male
999999,683,7/29/2015 17:11:29,7/29/2015 17:22:53,249,Harrison St & Hudson St,40.718710,-74.009001,150,E 2 St & Avenue C,40.720874,-73.980858,22961,Subscriber,1981.0,Male

In [16]:
gender_Julb = trip_Julb_df["gender"]
gender_Julb= gender_Julb.replace({"1": "Male", "2": "Female", "0":"unknown"})
trip_Julb_df["gender"] = gender_Julb
trip_Julb_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1238,7/29/2015 17:11:31,7/29/2015 17:32:09,160,E 37 St & Lexington Ave,40.748238,-73.978311,508,W 46 St & 11 Ave,40.763414,-73.996674,22239,Subscriber,1978.0,Female
1,766,7/29/2015 17:11:28,7/29/2015 17:24:14,328,Watts St & Greenwich St,40.724055,-74.009660,514,12 Ave & W 40 St,40.760875,-74.002777,22194,Subscriber,1986.0,Male
2,661,7/29/2015 17:11:28,7/29/2015 17:22:30,328,Watts St & Greenwich St,40.724055,-74.009660,521,8 Ave & W 31 St,40.750967,-73.994442,22545,Subscriber,1972.0,Male
3,1287,7/29/2015 17:11:31,7/29/2015 17:32:58,508,W 46 St & 11 Ave,40.763414,-73.996674,329,Greenwich St & N Moore St,40.720434,-74.010206,17048,Subscriber,1991.0,Female
4,3977,7/29/2015 17:11:31,7/29/2015 18:17:48,459,W 20 St & 11 Ave,40.746745,-74.007756,2006,Central Park S & 6 Ave,40.765909,-73.976342,16877,Customer,NaN,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85671,275,7/31/2015 23:59:40,8/1/2015 00:04:15,383,Greenwich Ave & Charles St,40.735238,-74.000271,404,9 Ave & W 14 St,40.740583,-74.005509,22667,Subscriber,1987.0,Male
85672,530,7/31/2015 23:59:41,8/1/2015 00:08:32,455,1 Ave & E 44 St,40.750020,-73.969053,507,E 25 St & 2 Ave,40.739126,-73.979738,20640,Subscriber,1960.0,Male
85673,273,7/31/2015 23:59:42,8/1/2015 00:04:15,383,Greenwich Ave & Charles St,40.735238,-74.000271,404,9 Ave & W 14 St,40.740583,-74.005509,22134,Customer,NaN,unknown
85674,1273,7/31/2015 23:59:56,8/1/2015 00:21:09,477,W 41 St & 8 Ave,40.756405,-73.990026,432,E 7 St & Avenue A,40.726218,-73.983799,22861,Subscriber,1986.0,Male
85675,1667,7/31/2015 23:59:59,8/1/2015 00:27:46,2021,W 45 St & 8 Ave,40.759291,-73.988597,401,Allen St & Rivington St,40.720196,-73.989978,16458,Subscriber,1988.0,Male

In [17]:
gender_Auga = trip_Auga_df["gender"]
gender_Auga= gender_Auga.replace({"1": "Male", "2": "Female", "0":"unknown"})
trip_Auga_df["gender"] = gender_Auga
trip_Auga_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1202,8/1/2015 00:00:04,8/1/2015 00:20:07,168,W 18 St & 6 Ave,40.739713,-73.994564,385,E 55 St & 2 Ave,40.757973,-73.966033,23253,Subscriber,1987.0,Male
1,301,8/1/2015 00:00:05,8/1/2015 00:05:06,450,W 49 St & 8 Ave,40.762272,-73.987882,479,9 Ave & W 45 St,40.760193,-73.991255,22675,Subscriber,1951.0,Female
2,431,8/1/2015 00:00:06,8/1/2015 00:07:18,312,Allen St & E Houston St,40.722055,-73.989111,296,Division St & Bowery,40.714131,-73.997047,19831,Subscriber,1985.0,Male
3,273,8/1/2015 00:00:09,8/1/2015 00:04:43,382,University Pl & E 14 St,40.734927,-73.992005,229,Great Jones St,40.727434,-73.993790,22765,Subscriber,1975.0,Male
4,1256,8/1/2015 00:00:17,8/1/2015 00:21:13,352,W 56 St & 6 Ave,40.763406,-73.977225,432,E 7 St & Avenue A,40.726218,-73.983799,22127,Subscriber,1978.0,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,17084,8/27/2015 11:08:11,8/27/2015 15:52:55,3093,N 6 St & Bedford Ave,40.717452,-73.958509,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,22286,Customer,NaN,unknown
999996,555,8/27/2015 11:08:17,8/27/2015 11:17:33,522,E 51 St & Lexington Ave,40.757148,-73.972078,450,W 49 St & 8 Ave,40.762272,-73.987882,19490,Subscriber,1957.0,Male
999997,500,8/27/2015 11:08:17,8/27/2015 11:16:38,301,E 2 St & Avenue B,40.722174,-73.983688,250,Lafayette St & Jersey St,40.724561,-73.995653,24089,Subscriber,1965.0,Male
999998,817,8/27/2015 11:08:18,8/27/2015 11:21:56,151,Cleveland Pl & Spring St,40.721816,-73.997203,526,E 33 St & 5 Ave,40.747659,-73.984907,23017,Subscriber,1985.0,Male
999999,679,8/27/2015 11:08:18,8/27/2015 11:19:38,423,W 54 St & 9 Ave,40.765849,-73.986905,470,W 20 St & 8 Ave,40.743453,-74.000040,14593,Subscriber,1983.0,Male

In [18]:
gender_Sepa = trip_Sepa_df["gender"]
gender_Sepa= gender_Sepa.replace({"1": "Male", "2": "Female", "0":"unknown"})
trip_Sepa_df["gender"] = gender_Sepa
trip_Sepa_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,288,9/1/2015 00:00:00,9/1/2015 00:04:48,263,Elizabeth St & Hester St,40.717290,-73.996375,307,Canal St & Rutgers St,40.714275,-73.989900,15479,Subscriber,1989.0,Male
1,165,9/1/2015 00:00:00,9/1/2015 00:02:45,495,W 47 St & 10 Ave,40.762699,-73.993012,449,W 52 St & 9 Ave,40.764618,-73.987895,23899,Subscriber,1987.0,Male
2,367,9/1/2015 00:00:01,9/1/2015 00:06:08,3119,Vernon Blvd & 50 Ave,40.742327,-73.954117,3118,McGuinness Blvd & Eagle St,40.735550,-73.952840,23921,Customer,NaN,unknown
3,926,9/1/2015 00:00:07,9/1/2015 00:15:34,536,1 Ave & E 30 St,40.741444,-73.975361,340,Madison St & Clinton St,40.712690,-73.987763,23256,Subscriber,1992.0,Male
4,658,9/1/2015 00:00:09,9/1/2015 00:11:07,347,Greenwich St & W Houston St,40.728846,-74.008591,483,E 12 St & 3 Ave,40.732233,-73.988900,17289,Subscriber,1976.0,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,168,9/24/2015 16:56:30,9/24/2015 16:59:18,509,9 Ave & W 22 St,40.745497,-74.001971,459,W 20 St & 11 Ave,40.746745,-74.007756,24158,Subscriber,1983.0,Male
999996,791,9/24/2015 16:56:32,9/24/2015 17:09:44,472,E 32 St & Park Ave,40.745712,-73.981948,127,Barrow St & Hudson St,40.731724,-74.006744,22253,Subscriber,1986.0,Male
999997,274,9/24/2015 16:56:34,9/24/2015 17:01:09,267,Broadway & W 36 St,40.750977,-73.987654,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,14739,Subscriber,1988.0,Male
999998,856,9/24/2015 16:56:34,9/24/2015 17:10:51,428,E 3 St & 1 Ave,40.724677,-73.987834,334,W 20 St & 7 Ave,40.742388,-73.997262,23321,Subscriber,1960.0,Male
999999,1553,9/24/2015 16:56:34,9/24/2015 17:22:27,212,W 16 St & The High Line,40.743349,-74.006818,3172,W 74 St & Columbus Ave,40.778567,-73.977550,18023,Subscriber,1986.0,Male

In [19]:
gender_Sepb = trip_Sepb_df["gender"]
gender_Sepb= gender_Sepb.replace({"1": "Male", "2": "Female", "0":"unknown"})
trip_Sepb_df["gender"] = gender_Sepb
trip_Sepb_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1052,9/24/2015 16:56:35,9/24/2015 17:14:07,459,W 20 St & 11 Ave,40.746745,-74.007756,426,West St & Chambers St,40.717548,-74.013221,15691,Customer,NaN,unknown
1,560,9/24/2015 16:56:36,9/24/2015 17:05:56,2021,W 45 St & 8 Ave,40.759291,-73.988597,521,8 Ave & W 31 St,40.750967,-73.994442,21523,Subscriber,1968.0,Male
2,341,9/24/2015 16:56:35,9/24/2015 17:02:17,250,Lafayette St & Jersey St,40.724561,-73.995653,312,Allen St & E Houston St,40.722055,-73.989111,15449,Subscriber,1971.0,Male
3,443,9/24/2015 16:56:38,9/24/2015 17:04:01,485,W 37 St & 5 Ave,40.750380,-73.983390,521,8 Ave & W 31 St,40.750967,-73.994442,19895,Subscriber,1971.0,Male
4,307,9/24/2015 16:56:38,9/24/2015 17:01:45,339,Avenue D & E 12 St,40.725806,-73.974225,433,E 13 St & Avenue A,40.729554,-73.980572,24284,Subscriber,1998.0,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289694,1200,9/30/2015 23:59:07,10/1/2015 00:19:07,3082,Hope St & Union Ave,40.711674,-73.951413,354,Emerson Pl & Myrtle Ave,40.693631,-73.962236,23295,Customer,NaN,unknown
289695,1195,9/30/2015 23:59:10,10/1/2015 00:19:05,3082,Hope St & Union Ave,40.711674,-73.951413,354,Emerson Pl & Myrtle Ave,40.693631,-73.962236,22286,Customer,NaN,unknown
289696,652,9/30/2015 23:59:44,10/1/2015 00:10:37,432,E 7 St & Avenue A,40.726218,-73.983799,476,E 31 St & 3 Ave,40.743943,-73.979661,23486,Subscriber,1979.0,Male
289697,1733,9/30/2015 23:59:48,10/1/2015 00:28:42,267,Broadway & W 36 St,40.750977,-73.987654,3129,Queens Plaza North & Crescent St,40.751102,-73.940737,23705,Subscriber,1985.0,Female
289698,1106,9/30/2015 23:59:57,10/1/2015 00:18:24,228,E 48 St & 3 Ave,40.754601,-73.971879,3176,W 64 St & West End Ave,40.774528,-73.987538,22529,Subscriber,1977.0,Male

In [20]:
gender_Octa = trip_Octa_df["gender"]
gender_Octa= gender_Octa.replace({"1": "Male", "2": "Female", "0":"unknown"})
trip_Octa_df["gender"] = gender_Octa
trip_Octa_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,171,10/1/2015 00:00:02,10/1/2015 00:02:54,388,W 26 St & 10 Ave,40.749718,-74.002950,494,W 26 St & 8 Ave,40.747348,-73.997236,24302,Subscriber,1973.0,Male
1,593,10/1/2015 00:00:02,10/1/2015 00:09:55,518,E 39 St & 2 Ave,40.747804,-73.973442,438,St Marks Pl & 1 Ave,40.727791,-73.985649,19904,Subscriber,1990.0,Male
2,233,10/1/2015 00:00:11,10/1/2015 00:04:05,447,8 Ave & W 52 St,40.763707,-73.985162,447,8 Ave & W 52 St,40.763707,-73.985162,17797,Subscriber,1984.0,Male
3,250,10/1/2015 00:00:15,10/1/2015 00:04:25,336,Sullivan St & Washington Sq,40.730477,-73.999061,223,W 13 St & 7 Ave,40.737815,-73.999947,23966,Subscriber,1984.0,Male
4,528,10/1/2015 00:00:17,10/1/2015 00:09:05,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,16246,Customer,NaN,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,239,10/26/2015 13:09:55,10/26/2015 13:13:54,368,Carmine St & 6 Ave,40.730386,-74.002150,127,Barrow St & Hudson St,40.731724,-74.006744,23149,Subscriber,1992.0,Male
999996,275,10/26/2015 13:10:01,10/26/2015 13:14:36,533,Broadway & W 39 St,40.752996,-73.987216,517,Pershing Square South,40.751581,-73.977910,23380,Subscriber,1989.0,Male
999997,715,10/26/2015 13:10:01,10/26/2015 13:21:57,523,W 38 St & 8 Ave,40.754666,-73.991382,475,E 16 St & Irving Pl,40.735243,-73.987586,18295,Subscriber,1982.0,Male
999998,1378,10/26/2015 13:10:04,10/26/2015 13:33:03,379,W 31 St & 7 Ave,40.749156,-73.991600,428,E 3 St & 1 Ave,40.724677,-73.987834,19233,Subscriber,1991.0,Male
999999,514,10/26/2015 13:10:08,10/26/2015 13:18:43,534,Water - Whitehall Plaza,40.702551,-74.012723,3002,South End Ave & Liberty St,40.711512,-74.015756,23703,Subscriber,1973.0,Male

In [21]:
gender_Octb = trip_Octb_df["gender"]
gender_Octb= gender_Octb.replace({"1": "Male", "2": "Female", "0":"unknown"})
trip_Octb_df["gender"] = gender_Octb
trip_Octb_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,555,10/26/2015 13:10:10,10/26/2015 13:19:25,480,W 53 St & 10 Ave,40.766697,-73.990617,524,W 43 St & 6 Ave,40.755273,-73.983169,17359,Subscriber,1988.0,Male
1,818,10/26/2015 13:10:19,10/26/2015 13:23:58,281,Grand Army Plaza & Central Park S,40.764397,-73.973715,3148,E 84 St & 1 Ave,40.775655,-73.950686,19726,Subscriber,1993.0,Male
2,400,10/26/2015 13:10:18,10/26/2015 13:16:58,293,Lafayette St & E 8 St,40.730287,-73.990765,303,Mercer St & Spring St,40.723627,-73.999496,23696,Subscriber,1984.0,Male
3,513,10/26/2015 13:10:20,10/26/2015 13:18:53,362,Broadway & W 37 St,40.751726,-73.987535,435,W 21 St & 6 Ave,40.741740,-73.994156,23812,Subscriber,1979.0,Male
4,233,10/26/2015 13:10:21,10/26/2015 13:14:14,3158,W 63 St & Broadway,40.771639,-73.982614,468,Broadway & W 55 St,40.765265,-73.981923,24045,Subscriber,1987.0,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212272,1924,10/31/2015 23:59:46,11/1/2015 00:31:50,498,Broadway & W 32 St,40.748549,-73.988084,531,Forsyth St & Broome St,40.718939,-73.992663,17292,Subscriber,1960.0,Male
212273,711,10/31/2015 23:59:50,11/1/2015 00:11:42,348,W Broadway & Spring St,40.724910,-74.001547,361,Allen St & Hester St,40.716059,-73.991908,23374,Subscriber,1982.0,Male
212274,621,10/31/2015 23:59:54,11/1/2015 00:10:15,237,E 11 St & 2 Ave,40.730473,-73.986724,348,W Broadway & Spring St,40.724910,-74.001547,23503,Subscriber,1990.0,Male
212275,632,10/31/2015 23:59:56,11/1/2015 00:10:29,237,E 11 St & 2 Ave,40.730473,-73.986724,348,W Broadway & Spring St,40.724910,-74.001547,22104,Subscriber,1980.0,Female
212276,807,10/31/2015 23:59:57,11/1/2015 00:13:24,468,Broadway & W 55 St,40.765265,-73.981923,446,W 24 St & 7 Ave,40.744876,-73.995299,14597,Subscriber,1967.0,Male

In [22]:
gender_Nov = trip_Nov_df["gender"]
gender_Nov= gender_Nov.replace({"1": "Male", "2": "Female", "0":"unknown"})
trip_Nov_df["gender"] = gender_Nov
trip_Nov_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1110,11/1/2015 00:00:00,11/1/2015 00:18:31,537,Lexington Ave & E 24 St,40.740259,-73.984092,531,Forsyth St & Broome St,40.718939,-73.992663,22545,Subscriber,1981.0,Female
1,1094,11/1/2015 00:00:01,11/1/2015 00:18:15,537,Lexington Ave & E 24 St,40.740259,-73.984092,531,Forsyth St & Broome St,40.718939,-73.992663,23959,Subscriber,1980.0,Male
2,520,11/1/2015 00:00:05,11/1/2015 00:08:45,536,1 Ave & E 30 St,40.741444,-73.975361,498,Broadway & W 32 St,40.748549,-73.988084,22251,Subscriber,1988.0,Male
3,753,11/1/2015 00:00:15,11/1/2015 00:12:48,229,Great Jones St,40.727434,-73.993790,328,Watts St & Greenwich St,40.724055,-74.009660,15869,Subscriber,1981.0,Male
4,353,11/1/2015 00:00:22,11/1/2015 00:06:15,285,Broadway & E 14 St,40.734546,-73.990741,151,Cleveland Pl & Spring St,40.722104,-73.997249,21645,Subscriber,1987.0,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987240,133,11/30/2015 23:58:36,12/1/2015 00:00:49,250,Lafayette St & Jersey St,40.724561,-73.995653,251,Mott St & Prince St,40.723180,-73.994800,22791,Subscriber,1977.0,Male
987241,495,11/30/2015 23:58:42,12/1/2015 00:06:58,476,E 31 St & 3 Ave,40.743943,-73.979661,237,E 11 St & 2 Ave,40.730473,-73.986724,22448,Subscriber,1989.0,Female
987242,1374,11/30/2015 23:58:48,12/1/2015 00:21:43,3161,W 76 St & Columbus Ave,40.780184,-73.977285,385,E 55 St & 2 Ave,40.757973,-73.966033,21543,Subscriber,1974.0,Male
987243,229,11/30/2015 23:59:01,12/1/2015 00:02:51,3110,Meserole Ave & Manhattan Ave,40.727086,-73.952991,3101,N 12 St & Bedford Ave,40.720798,-73.954847,19085,Subscriber,1982.0,Female
987244,234,11/30/2015 23:59:11,12/1/2015 00:03:05,279,Peck Slip & Front St,40.707873,-74.001670,408,Market St & Cherry St,40.710762,-73.994004,23951,Subscriber,1958.0,Male

In [23]:
gender_Dec = trip_Dec_df["gender"]
gender_Dec= gender_Dec.replace({"1": "Male", "2": "Female", "0":"unknown"})
trip_Dec_df["gender"] = gender_Dec
trip_Dec_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1346,1/1/2015 0:01,1/1/2015 0:24,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,-73.991475,18660,Subscriber,1960.0,Female
1,363,1/1/2015 0:02,1/1/2015 0:08,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,16085,Subscriber,1963.0,Male
2,346,1/1/2015 0:04,1/1/2015 0:10,491,E 24 St & Park Ave S,40.740964,-73.986022,505,6 Ave & W 33 St,40.749013,-73.988484,20845,Subscriber,1974.0,Male
3,182,1/1/2015 0:04,1/1/2015 0:07,384,Fulton St & Waverly Ave,40.683178,-73.965964,399,Lafayette Ave & St James Pl,40.688515,-73.964763,19610,Subscriber,1969.0,Male
4,969,1/1/2015 0:05,1/1/2015 0:21,474,5 Ave & E 29 St,40.745168,-73.986831,432,E 7 St & Avenue A,40.726218,-73.983799,20197,Subscriber,1977.0,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285547,169,1/31/2015 23:57,2/1/2015 0:00,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,368,Carmine St & 6 Ave,40.730386,-74.002150,17456,Subscriber,1956.0,Male
285548,827,1/31/2015 23:58,2/1/2015 0:12,252,MacDougal St & Washington Sq,40.732264,-73.998522,440,E 45 St & 3 Ave,40.752554,-73.972826,17669,Subscriber,1976.0,Male
285549,798,1/31/2015 23:58,2/1/2015 0:11,127,Barrow St & Hudson St,40.731724,-74.006744,433,E 13 St & Avenue A,40.729554,-73.980572,20237,Subscriber,1994.0,Male
285550,725,1/31/2015 23:58,2/1/2015 0:10,435,W 21 St & 6 Ave,40.741740,-73.994156,368,Carmine St & 6 Ave,40.730386,-74.002150,21029,Subscriber,1957.0,Male
285551,892,1/31/2015 23:59,2/1/2015 0:14,504,1 Ave & E 15 St,40.732219,-73.981656,295,Pike St & E Broadway,40.714067,-73.992939,18342,Subscriber,1974.0,Male

In [25]:
current_year = 2015

trip_Jan_df = trip_Jan_df.dropna(subset=['birth year'])

# Calculate age
birth_year_Jan = trip_Jan_df["birth year"]
age = current_year - birth_year_Jan

# Add the 'age' column to the DataFrame
trip_Jan_df['age'] = age

# Display the DataFrame
trip_Jan_df

/var/folders/nh/8v2vnxrx4zjf2bjtfqnchp600000gn/T/ipykernel_33828/3064545761.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip_Jan_df['age'] = age

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
0,1346,1/1/2015 0:01,1/1/2015 0:24,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,-73.991475,18660,Subscriber,1960.0,Female,55.0
1,363,1/1/2015 0:02,1/1/2015 0:08,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,16085,Subscriber,1963.0,Male,52.0
2,346,1/1/2015 0:04,1/1/2015 0:10,491,E 24 St & Park Ave S,40.740964,-73.986022,505,6 Ave & W 33 St,40.749013,-73.988484,20845,Subscriber,1974.0,Male,41.0
3,182,1/1/2015 0:04,1/1/2015 0:07,384,Fulton St & Waverly Ave,40.683178,-73.965964,399,Lafayette Ave & St James Pl,40.688515,-73.964763,19610,Subscriber,1969.0,Male,46.0
4,969,1/1/2015 0:05,1/1/2015 0:21,474,5 Ave & E 29 St,40.745168,-73.986831,432,E 7 St & Avenue A,40.726218,-73.983799,20197,Subscriber,1977.0,Male,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285547,169,1/31/2015 23:57,2/1/2015 0:00,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,368,Carmine St & 6 Ave,40.730386,-74.002150,17456,Subscriber,1956.0,Male,59.0
285548,827,1/31/2015 23:58,2/1/2015 0:12,252,MacDougal St & Washington Sq,40.732264,-73.998522,440,E 45 St & 3 Ave,40.752554,-73.972826,17669,Subscriber,1976.0,Male,39.0
285549,798,1/31/2015 23:58,2/1/2015 0:11,127,Barrow St & Hudson St,40.731724,-74.006744,433,E 13 St & Avenue A,40.729554,-73.980572,20237,Subscriber,1994.0,Male,21.0
285550,725,1/31/2015 23:58,2/1/2015 0:10,435,W 21 St & 6 Ave,40.741740,-73.994156,368,Carmine St & 6 Ave,40.730386,-74.002150,21029,Subscriber,1957.0,Male,58.0
285551,892,1/31/2015 23:59,2/1/2015 0:14,504,1 Ave & E 15 St,40.732219,-73.981656,295,Pike St & E Broadway,40.714067,-73.992939,18342,Subscriber,1974.0,Male,41.0

In [26]:
current_year = 2015
trip_Feb_df = trip_Feb_df.dropna(subset=['birth year'])
birth_year_Feb = trip_Feb_df["birth year"]
age = current_year - birth_year_Feb
trip_Feb_df['age'] = age
trip_Feb_df

/var/folders/nh/8v2vnxrx4zjf2bjtfqnchp600000gn/T/ipykernel_33828/3374229424.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip_Feb_df['age'] = age

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
0,801,2/1/2015 0:00,2/1/2015 0:14,521,8 Ave & W 31 St,40.750450,-73.994811,423,W 54 St & 9 Ave,40.765849,-73.986905,17131,Subscriber,1978.0,Female,37.0
1,379,2/1/2015 0:00,2/1/2015 0:07,497,E 17 St & Broadway,40.737050,-73.990093,504,1 Ave & E 15 St,40.732219,-73.981656,21289,Subscriber,1993.0,Male,22.0
2,2474,2/1/2015 0:01,2/1/2015 0:42,281,Grand Army Plaza & Central Park S,40.764397,-73.973715,127,Barrow St & Hudson St,40.731724,-74.006744,18903,Subscriber,1969.0,Female,46.0
3,818,2/1/2015 0:01,2/1/2015 0:15,2004,6 Ave & Broome St,40.724399,-74.004704,505,6 Ave & W 33 St,40.749013,-73.988484,21044,Subscriber,1985.0,Female,30.0
4,544,2/1/2015 0:01,2/1/2015 0:10,323,Lawrence St & Willoughby St,40.692362,-73.986317,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,19868,Subscriber,1957.0,Male,58.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196925,747,2/28/2015 23:57,3/1/2015 0:09,414,Pearl St & Anchorage Pl,40.702819,-73.987658,307,Canal St & Rutgers St,40.714275,-73.989900,16946,Subscriber,1990.0,Male,25.0
196926,204,2/28/2015 23:58,3/1/2015 0:02,428,E 3 St & 1 Ave,40.724677,-73.987834,326,E 11 St & 1 Ave,40.729538,-73.984267,21644,Subscriber,1971.0,Male,44.0
196927,675,2/28/2015 23:59,3/1/2015 0:11,545,E 23 St & 1 Ave,40.736502,-73.978095,312,Allen St & E Houston St,40.722055,-73.989111,20522,Subscriber,1985.0,Male,30.0
196928,651,2/28/2015 23:59,3/1/2015 0:10,396,Lefferts Pl & Franklin Ave,40.680342,-73.955769,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,14970,Subscriber,1992.0,Female,23.0
196929,636,2/28/2015 23:59,3/1/2015 0:10,537,Lexington Ave & E 24 St,40.740259,-73.984092,490,8 Ave & W 33 St,40.751551,-73.993934,17034,Subscriber,1995.0,Female,20.0

In [27]:
current_year = 2015
trip_Mar_df = trip_Mar_df.dropna(subset=['birth year'])
birth_year_Mar = trip_Mar_df["birth year"]
age = current_year - birth_year_Mar
trip_Mar_df['age'] = age
trip_Mar_df

/var/folders/nh/8v2vnxrx4zjf2bjtfqnchp600000gn/T/ipykernel_33828/3969153822.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip_Mar_df['age'] = age

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
0,669,3/1/2015 0:00,3/1/2015 0:11,164,E 47 St & 2 Ave,40.753231,-73.970325,477,W 41 St & 8 Ave,40.756405,-73.990026,21409,Subscriber,1987.0,Male,28.0
1,750,3/1/2015 0:01,3/1/2015 0:14,258,DeKalb Ave & Vanderbilt Ave,40.689407,-73.968855,436,Hancock St & Bedford Ave,40.682166,-73.953990,19397,Subscriber,1968.0,Male,47.0
3,480,3/1/2015 0:02,3/1/2015 0:10,470,W 20 St & 8 Ave,40.743453,-74.000040,491,E 24 St & Park Ave S,40.740964,-73.986022,21565,Subscriber,1983.0,Male,32.0
4,1258,3/1/2015 0:02,3/1/2015 0:23,345,W 13 St & 6 Ave,40.736494,-73.997044,473,Rivington St & Chrystie St,40.721101,-73.991925,14693,Subscriber,1970.0,Male,45.0
5,363,3/1/2015 0:03,3/1/2015 0:09,380,W 4 St & 7 Ave S,40.734011,-74.002939,382,University Pl & E 14 St,40.734927,-73.992005,21435,Subscriber,1983.0,Male,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341821,536,3/31/2015 23:58,4/1/2015 0:07,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,421,Clermont Ave & Park Ave,40.695734,-73.971297,19615,Subscriber,1985.0,Male,30.0
341822,1030,3/31/2015 23:59,4/1/2015 0:16,495,W 47 St & 10 Ave,40.762699,-73.993012,404,9 Ave & W 14 St,40.740583,-74.005509,15086,Subscriber,1978.0,Male,37.0
341823,171,3/31/2015 23:59,4/1/2015 0:02,450,W 49 St & 8 Ave,40.762272,-73.987882,479,9 Ave & W 45 St,40.760193,-73.991255,18943,Subscriber,1986.0,Male,29.0
341824,616,3/31/2015 23:59,4/1/2015 0:09,455,1 Ave & E 44 St,40.750020,-73.969053,477,W 41 St & 8 Ave,40.756405,-73.990026,21364,Subscriber,1970.0,Male,45.0
341825,227,3/31/2015 23:55,3/31/2015 23:59,477,W 41 St & 8 Ave,40.756405,-73.990026,478,11 Ave & W 41 St,40.760301,-73.998842,16020,Subscriber,1998.0,Male,17.0

In [28]:
current_year = 2015
trip_Apr_df = trip_Apr_df.dropna(subset=['birth year'])
birth_year_Apr = trip_Apr_df["birth year"]
age = current_year - birth_year_Apr
trip_Apr_df['age'] = age
trip_Apr_df

/var/folders/nh/8v2vnxrx4zjf2bjtfqnchp600000gn/T/ipykernel_33828/1706684695.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip_Apr_df['age'] = age

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
0,241,4/1/2015 00:00:23,4/1/2015 00:04:25,494,W 26 St & 8 Ave,40.747348,-73.997236,489,10 Ave & W 28 St,40.750664,-74.001768,15510,Subscriber,1992.0,Female,23.0
1,578,4/1/2015 00:00:52,4/1/2015 00:10:31,82,St James Pl & Pearl St,40.711174,-74.000165,2008,Little West St & 1 Pl,40.705693,-74.016777,15014,Subscriber,1982.0,Male,33.0
2,484,4/1/2015 00:01:28,4/1/2015 00:09:33,223,W 13 St & 7 Ave,40.737815,-73.999947,445,E 10 St & Avenue A,40.727408,-73.981420,20881,Subscriber,1986.0,Female,29.0
3,1144,4/1/2015 00:01:31,4/1/2015 00:20:36,393,E 5 St & Avenue C,40.722992,-73.979955,393,E 5 St & Avenue C,40.722992,-73.979955,20295,Subscriber,1977.0,Female,38.0
4,1023,4/1/2015 00:01:36,4/1/2015 00:18:40,212,W 16 St & The High Line,40.743349,-74.006818,438,St Marks Pl & 1 Ave,40.727791,-73.985649,19871,Subscriber,1979.0,Male,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
652383,1986,4/30/2015 23:58:36,5/1/2015 00:31:42,462,W 22 St & 10 Ave,40.746920,-74.004519,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,17396,Subscriber,1979.0,Male,36.0
652384,1650,4/30/2015 23:58:34,5/1/2015 00:26:04,127,Barrow St & Hudson St,40.731724,-74.006744,421,Clermont Ave & Park Ave,40.695734,-73.971297,16800,Subscriber,1986.0,Male,29.0
652386,205,4/30/2015 23:59:30,5/1/2015 00:02:55,334,W 20 St & 7 Ave,40.742388,-73.997262,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,21359,Subscriber,1980.0,Male,35.0
652388,435,4/30/2015 23:59:40,5/1/2015 00:06:55,323,Lawrence St & Willoughby St,40.692362,-73.986317,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,19734,Subscriber,1990.0,Male,25.0
652389,380,4/30/2015 23:59:55,5/1/2015 00:06:15,494,W 26 St & 8 Ave,40.747348,-73.997236,474,5 Ave & E 29 St,40.745168,-73.986831,17068,Subscriber,1995.0,Male,20.0

In [29]:
current_year = 2015
trip_May_df = trip_May_df.dropna(subset=['birth year'])
birth_year_May = trip_May_df["birth year"]
age = current_year - birth_year_May
trip_May_df['age'] = age
trip_May_df

/var/folders/nh/8v2vnxrx4zjf2bjtfqnchp600000gn/T/ipykernel_33828/3345179293.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip_May_df['age'] = age

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
0,415,5/1/2015 00:00:11,5/1/2015 00:07:06,477,W 41 St & 8 Ave,40.756405,-73.990026,442,W 27 St & 7 Ave,40.746647,-73.993915,17012,Subscriber,1981.0,Male,34.0
2,642,5/1/2015 00:00:52,5/1/2015 00:11:35,380,W 4 St & 7 Ave S,40.734011,-74.002939,507,E 25 St & 2 Ave,40.739126,-73.979738,15003,Subscriber,1990.0,unknown,25.0
3,367,5/1/2015 00:00:48,5/1/2015 00:06:55,537,Lexington Ave & E 24 St,40.740259,-73.984092,280,E 10 St & 5 Ave,40.733320,-73.995101,14788,Subscriber,1978.0,Male,37.0
4,2734,5/1/2015 00:00:51,5/1/2015 00:46:26,426,West St & Chambers St,40.717548,-74.013221,327,Vesey Pl & River Terrace,40.715338,-74.016584,21068,Subscriber,1956.0,Male,59.0
5,359,5/1/2015 00:01:07,5/1/2015 00:07:07,439,E 4 St & 2 Ave,40.726281,-73.989780,302,Avenue D & E 3 St,40.720828,-73.977932,17406,Subscriber,1961.0,Male,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
961981,541,5/31/2015 23:57:10,6/1/2015 00:06:12,536,1 Ave & E 30 St,40.741444,-73.975361,285,Broadway & E 14 St,40.734546,-73.990741,20118,Subscriber,1978.0,NaN,37.0
961982,2147,5/31/2015 23:58:48,6/1/2015 00:34:36,225,W 14 St & The High Line,40.741951,-74.008030,2022,E 59 St & Sutton Pl,40.758491,-73.959206,17819,Subscriber,1959.0,NaN,56.0
961983,572,5/31/2015 23:58:55,6/1/2015 00:08:27,157,Henry St & Atlantic Ave,40.690893,-73.996123,407,Henry St & Poplar St,40.700469,-73.991454,17801,Subscriber,1964.0,NaN,51.0
961984,380,5/31/2015 23:59:43,6/1/2015 00:06:04,265,Stanton St & Chrystie St,40.722293,-73.991475,297,E 15 St & 3 Ave,40.734232,-73.986923,21099,Subscriber,1985.0,NaN,30.0
961985,750,5/31/2015 23:59:59,6/1/2015 00:12:30,453,W 22 St & 8 Ave,40.744751,-73.999154,537,Lexington Ave & E 24 St,40.740259,-73.984092,16336,Subscriber,1985.0,NaN,30.0

In [30]:
current_year = 2015
trip_Jun_df = trip_Jun_df.dropna(subset=['birth year'])
birth_year_Jun = trip_Jun_df["birth year"]
age = current_year - birth_year_Jun
trip_Jun_df['age'] = age
trip_Jun_df

/var/folders/nh/8v2vnxrx4zjf2bjtfqnchp600000gn/T/ipykernel_33828/321640010.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip_Jun_df['age'] = age

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
0,1338,6/1/2015 0:00,6/1/2015 0:22,128,MacDougal St & Prince St,40.727103,-74.002971,2021,W 45 St & 8 Ave,40.759291,-73.988597,20721,Subscriber,1984.0,Male,31.0
1,290,6/1/2015 0:00,6/1/2015 0:05,438,St Marks Pl & 1 Ave,40.727791,-73.985649,312,Allen St & E Houston St,40.722055,-73.989111,21606,Subscriber,1997.0,Male,18.0
2,634,6/1/2015 0:01,6/1/2015 0:11,383,Greenwich Ave & Charles St,40.735238,-74.000271,388,W 26 St & 10 Ave,40.749718,-74.002950,16595,Subscriber,1993.0,Male,22.0
3,159,6/1/2015 0:01,6/1/2015 0:04,361,Allen St & Hester St,40.716059,-73.991908,531,Forsyth St & Broome St,40.718939,-73.992663,16949,Subscriber,1981.0,Male,34.0
5,690,6/1/2015 0:03,6/1/2015 0:15,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,410,Suffolk St & Stanton St,40.720664,-73.985180,20857,Subscriber,1976.0,Male,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
941211,168,6/30/2015 23:59,7/1/2015 0:02,529,W 42 St & 8 Ave,40.757570,-73.990985,478,11 Ave & W 41 St,40.760301,-73.998842,14680,Subscriber,1994.0,Female,21.0
941213,170,6/30/2015 23:59,7/1/2015 0:02,312,Allen St & E Houston St,40.722055,-73.989111,251,Mott St & Prince St,40.723180,-73.994800,16535,Subscriber,1987.0,Male,28.0
941214,1053,6/30/2015 23:59,7/1/2015 0:17,323,Lawrence St & Willoughby St,40.692362,-73.986317,436,Hancock St & Bedford Ave,40.682166,-73.953990,17785,Subscriber,1989.0,Male,26.0
941217,819,6/30/2015 23:59,7/1/2015 0:13,410,Suffolk St & Stanton St,40.720664,-73.985180,345,W 13 St & 6 Ave,40.736494,-73.997044,15932,Subscriber,1976.0,Male,39.0
941218,667,6/30/2015 23:59,7/1/2015 0:10,308,St James Pl & Oliver St,40.713079,-73.998512,2008,Little West St & 1 Pl,40.705693,-74.016777,16915,Subscriber,1982.0,Male,33.0

In [31]:
current_year = 2015
trip_Jula_df = trip_Jula_df.dropna(subset=['birth year'])
birth_year_Jula = trip_Jula_df["birth year"]
age = current_year - birth_year_Jula
trip_Jula_df['age'] = age
trip_Jula_df

/var/folders/nh/8v2vnxrx4zjf2bjtfqnchp600000gn/T/ipykernel_33828/624425043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip_Jula_df['age'] = age

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
0,732,7/1/2015 00:00:03,7/1/2015 00:12:16,489,10 Ave & W 28 St,40.750664,-74.001768,368,Carmine St & 6 Ave,40.730386,-74.002150,18669,Subscriber,1970.0,Male,45.0
1,322,7/1/2015 00:00:06,7/1/2015 00:05:29,304,Broadway & Battery Pl,40.704633,-74.013617,3002,South End Ave & Liberty St,40.711512,-74.015756,14618,Subscriber,1984.0,Male,31.0
2,790,7/1/2015 00:00:17,7/1/2015 00:13:28,447,8 Ave & W 52 St,40.763707,-73.985162,358,Christopher St & Greenwich St,40.732916,-74.007114,18801,Subscriber,1992.0,Male,23.0
3,1228,7/1/2015 00:00:23,7/1/2015 00:20:51,490,8 Ave & W 33 St,40.751551,-73.993934,250,Lafayette St & Jersey St,40.724561,-73.995653,19137,Subscriber,1990.0,Male,25.0
4,1383,7/1/2015 00:00:44,7/1/2015 00:23:48,327,Vesey Pl & River Terrace,40.715338,-74.016584,72,W 52 St & 11 Ave,40.767272,-73.993929,15808,Subscriber,1988.0,Male,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,205,7/29/2015 17:11:28,7/29/2015 17:14:53,457,Broadway & W 58 St,40.766953,-73.981693,173,Broadway & W 49 St,40.760647,-73.984427,16614,Subscriber,1976.0,Male,39.0
999996,1024,7/29/2015 17:11:28,7/29/2015 17:28:33,459,W 20 St & 11 Ave,40.746745,-74.007756,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,22496,Subscriber,1986.0,Male,29.0
999997,552,7/29/2015 17:11:29,7/29/2015 17:20:41,2003,1 Ave & E 18 St,40.733812,-73.980544,444,Broadway & W 24 St,40.742354,-73.989151,23574,Subscriber,1993.0,Male,22.0
999998,434,7/29/2015 17:11:30,7/29/2015 17:18:44,517,Pershing Square South,40.751581,-73.977910,529,W 42 St & 8 Ave,40.757570,-73.990985,19818,Subscriber,1978.0,Male,37.0
999999,683,7/29/2015 17:11:29,7/29/2015 17:22:53,249,Harrison St & Hudson St,40.718710,-74.009001,150,E 2 St & Avenue C,40.720874,-73.980858,22961,Subscriber,1981.0,Male,34.0

In [32]:
current_year = 2015
trip_Julb_df = trip_Julb_df.dropna(subset=['birth year'])
birth_year_Julb = trip_Julb_df["birth year"]
age = current_year - birth_year_Julb
trip_Julb_df['age'] = age
trip_Julb_df

/var/folders/nh/8v2vnxrx4zjf2bjtfqnchp600000gn/T/ipykernel_33828/2465377928.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip_Julb_df['age'] = age

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
0,1238,7/29/2015 17:11:31,7/29/2015 17:32:09,160,E 37 St & Lexington Ave,40.748238,-73.978311,508,W 46 St & 11 Ave,40.763414,-73.996674,22239,Subscriber,1978.0,Female,37.0
1,766,7/29/2015 17:11:28,7/29/2015 17:24:14,328,Watts St & Greenwich St,40.724055,-74.009660,514,12 Ave & W 40 St,40.760875,-74.002777,22194,Subscriber,1986.0,Male,29.0
2,661,7/29/2015 17:11:28,7/29/2015 17:22:30,328,Watts St & Greenwich St,40.724055,-74.009660,521,8 Ave & W 31 St,40.750967,-73.994442,22545,Subscriber,1972.0,Male,43.0
3,1287,7/29/2015 17:11:31,7/29/2015 17:32:58,508,W 46 St & 11 Ave,40.763414,-73.996674,329,Greenwich St & N Moore St,40.720434,-74.010206,17048,Subscriber,1991.0,Female,24.0
5,1624,7/29/2015 17:11:30,7/29/2015 17:38:35,2023,E 55 St & Lexington Ave,40.759681,-73.970314,426,West St & Chambers St,40.717548,-74.013221,17474,Subscriber,1984.0,Male,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85670,305,7/31/2015 23:59:38,8/1/2015 00:04:43,489,10 Ave & W 28 St,40.750664,-74.001768,521,8 Ave & W 31 St,40.750967,-73.994442,22201,Subscriber,1969.0,Male,46.0
85671,275,7/31/2015 23:59:40,8/1/2015 00:04:15,383,Greenwich Ave & Charles St,40.735238,-74.000271,404,9 Ave & W 14 St,40.740583,-74.005509,22667,Subscriber,1987.0,Male,28.0
85672,530,7/31/2015 23:59:41,8/1/2015 00:08:32,455,1 Ave & E 44 St,40.750020,-73.969053,507,E 25 St & 2 Ave,40.739126,-73.979738,20640,Subscriber,1960.0,Male,55.0
85674,1273,7/31/2015 23:59:56,8/1/2015 00:21:09,477,W 41 St & 8 Ave,40.756405,-73.990026,432,E 7 St & Avenue A,40.726218,-73.983799,22861,Subscriber,1986.0,Male,29.0
85675,1667,7/31/2015 23:59:59,8/1/2015 00:27:46,2021,W 45 St & 8 Ave,40.759291,-73.988597,401,Allen St & Rivington St,40.720196,-73.989978,16458,Subscriber,1988.0,Male,27.0

In [33]:
current_year = 2015
trip_Auga_df = trip_Auga_df.dropna(subset=['birth year'])
birth_year_Auga = trip_Auga_df["birth year"]
age = current_year - birth_year_Auga
trip_Auga_df['age'] = age
trip_Auga_df

/var/folders/nh/8v2vnxrx4zjf2bjtfqnchp600000gn/T/ipykernel_33828/306306543.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip_Auga_df['age'] = age

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
0,1202,8/1/2015 00:00:04,8/1/2015 00:20:07,168,W 18 St & 6 Ave,40.739713,-73.994564,385,E 55 St & 2 Ave,40.757973,-73.966033,23253,Subscriber,1987.0,Male,28.0
1,301,8/1/2015 00:00:05,8/1/2015 00:05:06,450,W 49 St & 8 Ave,40.762272,-73.987882,479,9 Ave & W 45 St,40.760193,-73.991255,22675,Subscriber,1951.0,Female,64.0
2,431,8/1/2015 00:00:06,8/1/2015 00:07:18,312,Allen St & E Houston St,40.722055,-73.989111,296,Division St & Bowery,40.714131,-73.997047,19831,Subscriber,1985.0,Male,30.0
3,273,8/1/2015 00:00:09,8/1/2015 00:04:43,382,University Pl & E 14 St,40.734927,-73.992005,229,Great Jones St,40.727434,-73.993790,22765,Subscriber,1975.0,Male,40.0
4,1256,8/1/2015 00:00:17,8/1/2015 00:21:13,352,W 56 St & 6 Ave,40.763406,-73.977225,432,E 7 St & Avenue A,40.726218,-73.983799,22127,Subscriber,1978.0,Male,37.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999993,569,8/27/2015 11:08:11,8/27/2015 11:17:41,490,8 Ave & W 33 St,40.751551,-73.993934,453,W 22 St & 8 Ave,40.744751,-73.999154,23490,Subscriber,1978.0,Male,37.0
999996,555,8/27/2015 11:08:17,8/27/2015 11:17:33,522,E 51 St & Lexington Ave,40.757148,-73.972078,450,W 49 St & 8 Ave,40.762272,-73.987882,19490,Subscriber,1957.0,Male,58.0
999997,500,8/27/2015 11:08:17,8/27/2015 11:16:38,301,E 2 St & Avenue B,40.722174,-73.983688,250,Lafayette St & Jersey St,40.724561,-73.995653,24089,Subscriber,1965.0,Male,50.0
999998,817,8/27/2015 11:08:18,8/27/2015 11:21:56,151,Cleveland Pl & Spring St,40.721816,-73.997203,526,E 33 St & 5 Ave,40.747659,-73.984907,23017,Subscriber,1985.0,Male,30.0
999999,679,8/27/2015 11:08:18,8/27/2015 11:19:38,423,W 54 St & 9 Ave,40.765849,-73.986905,470,W 20 St & 8 Ave,40.743453,-74.000040,14593,Subscriber,1983.0,Male,32.0

In [34]:
current_year = 2015
trip_Augb_df= trip_Augb_df.dropna(subset=['birth year'])
trip_Augb_df = trip_Augb
birth_year_Augb = trip_Augb_df["birth year"]
age = current_year - birth_year_Augb
trip_Augb_df['age'] = age
trip_Augb_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
0,675,8/27/2015 11:08:19,8/27/2015 11:19:34,127,Barrow St & Hudson St,40.731724,-74.006744,509,9 Ave & W 22 St,40.745497,-74.001971,16760,Subscriber,1966.0,1,49.0
1,192,8/27/2015 11:08:20,8/27/2015 11:11:32,447,8 Ave & W 52 St,40.763707,-73.985162,499,Broadway & W 60 St,40.769155,-73.981918,22210,Subscriber,1983.0,1,32.0
2,1617,8/27/2015 11:08:23,8/27/2015 11:35:20,440,E 45 St & 3 Ave,40.752554,-73.972826,128,MacDougal St & Prince St,40.727103,-74.002971,17207,Subscriber,1984.0,1,31.0
3,861,8/27/2015 11:08:24,8/27/2015 11:22:45,462,W 22 St & 10 Ave,40.746920,-74.004519,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,16462,Subscriber,1968.0,1,47.0
4,178,8/27/2015 11:08:27,8/27/2015 11:11:25,330,Reade St & Broadway,40.714505,-74.005628,257,Lispenard St & Broadway,40.719392,-74.002472,15881,Subscriber,1980.0,1,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179039,423,8/31/2015 23:58:43,9/1/2015 00:05:47,3119,Vernon Blvd & 50 Ave,40.742327,-73.954117,3118,McGuinness Blvd & Eagle St,40.735550,-73.952840,18686,Subscriber,1988.0,1,27.0
179040,1021,8/31/2015 23:58:54,9/1/2015 00:15:56,518,E 39 St & 2 Ave,40.747804,-73.973442,348,W Broadway & Spring St,40.724910,-74.001547,23487,Subscriber,1970.0,1,45.0
179041,1896,8/31/2015 23:59:11,9/1/2015 00:30:47,336,Sullivan St & Washington Sq,40.730477,-73.999061,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,23509,Subscriber,1982.0,1,33.0
179042,826,8/31/2015 23:59:16,9/1/2015 00:13:02,3075,Division Ave & Marcy Ave,40.707087,-73.957968,364,Lafayette Ave & Classon Ave,40.689004,-73.960239,15405,Customer,NaN,0,NaN
179043,105,8/31/2015 23:59:41,9/1/2015 00:01:26,476,E 31 St & 3 Ave,40.743943,-73.979661,546,E 30 St & Park Ave S,40.744449,-73.983035,23947,Subscriber,1975.0,1,40.0

In [35]:
current_year = 2015
trip_Sepa_df= trip_Sepa_df.dropna(subset=['birth year'])
birth_year_Sepa = trip_Sepa_df["birth year"]
age = current_year - birth_year_Sepa
trip_Sepa_df['age'] = age
trip_Sepa_df

/var/folders/nh/8v2vnxrx4zjf2bjtfqnchp600000gn/T/ipykernel_33828/2841196208.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip_Sepa_df['age'] = age

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
0,288,9/1/2015 00:00:00,9/1/2015 00:04:48,263,Elizabeth St & Hester St,40.717290,-73.996375,307,Canal St & Rutgers St,40.714275,-73.989900,15479,Subscriber,1989.0,Male,26.0
1,165,9/1/2015 00:00:00,9/1/2015 00:02:45,495,W 47 St & 10 Ave,40.762699,-73.993012,449,W 52 St & 9 Ave,40.764618,-73.987895,23899,Subscriber,1987.0,Male,28.0
3,926,9/1/2015 00:00:07,9/1/2015 00:15:34,536,1 Ave & E 30 St,40.741444,-73.975361,340,Madison St & Clinton St,40.712690,-73.987763,23256,Subscriber,1992.0,Male,23.0
4,658,9/1/2015 00:00:09,9/1/2015 00:11:07,347,Greenwich St & W Houston St,40.728846,-74.008591,483,E 12 St & 3 Ave,40.732233,-73.988900,17289,Subscriber,1976.0,Male,39.0
5,392,9/1/2015 00:00:13,9/1/2015 00:06:46,2004,6 Ave & Broome St,40.724399,-74.004704,254,W 11 St & 6 Ave,40.735324,-73.998004,15438,Subscriber,1955.0,Male,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,168,9/24/2015 16:56:30,9/24/2015 16:59:18,509,9 Ave & W 22 St,40.745497,-74.001971,459,W 20 St & 11 Ave,40.746745,-74.007756,24158,Subscriber,1983.0,Male,32.0
999996,791,9/24/2015 16:56:32,9/24/2015 17:09:44,472,E 32 St & Park Ave,40.745712,-73.981948,127,Barrow St & Hudson St,40.731724,-74.006744,22253,Subscriber,1986.0,Male,29.0
999997,274,9/24/2015 16:56:34,9/24/2015 17:01:09,267,Broadway & W 36 St,40.750977,-73.987654,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,14739,Subscriber,1988.0,Male,27.0
999998,856,9/24/2015 16:56:34,9/24/2015 17:10:51,428,E 3 St & 1 Ave,40.724677,-73.987834,334,W 20 St & 7 Ave,40.742388,-73.997262,23321,Subscriber,1960.0,Male,55.0
999999,1553,9/24/2015 16:56:34,9/24/2015 17:22:27,212,W 16 St & The High Line,40.743349,-74.006818,3172,W 74 St & Columbus Ave,40.778567,-73.977550,18023,Subscriber,1986.0,Male,29.0

In [36]:
current_year = 2015
trip_Sepb_df= trip_Sepb_df.dropna(subset=['birth year'])
birth_year_Sepb = trip_Sepb_df["birth year"]
age = current_year - birth_year_Sepb
trip_Sepb_df['age'] = age
trip_Sepb_df

/var/folders/nh/8v2vnxrx4zjf2bjtfqnchp600000gn/T/ipykernel_33828/2257070069.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip_Sepb_df['age'] = age

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
1,560,9/24/2015 16:56:36,9/24/2015 17:05:56,2021,W 45 St & 8 Ave,40.759291,-73.988597,521,8 Ave & W 31 St,40.750967,-73.994442,21523,Subscriber,1968.0,Male,47.0
2,341,9/24/2015 16:56:35,9/24/2015 17:02:17,250,Lafayette St & Jersey St,40.724561,-73.995653,312,Allen St & E Houston St,40.722055,-73.989111,15449,Subscriber,1971.0,Male,44.0
3,443,9/24/2015 16:56:38,9/24/2015 17:04:01,485,W 37 St & 5 Ave,40.750380,-73.983390,521,8 Ave & W 31 St,40.750967,-73.994442,19895,Subscriber,1971.0,Male,44.0
4,307,9/24/2015 16:56:38,9/24/2015 17:01:45,339,Avenue D & E 12 St,40.725806,-73.974225,433,E 13 St & Avenue A,40.729554,-73.980572,24284,Subscriber,1998.0,Male,17.0
5,792,9/24/2015 16:56:39,9/24/2015 17:09:51,432,E 7 St & Avenue A,40.726218,-73.983799,445,E 10 St & Avenue A,40.727408,-73.981420,16380,Subscriber,1962.0,Female,53.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289692,516,9/30/2015 23:58:44,10/1/2015 00:07:21,254,W 11 St & 6 Ave,40.735324,-73.998004,490,8 Ave & W 33 St,40.751551,-73.993934,22933,Subscriber,1980.0,Male,35.0
289693,203,9/30/2015 23:58:56,10/1/2015 00:02:19,439,E 4 St & 2 Ave,40.726281,-73.989780,251,Mott St & Prince St,40.723180,-73.994800,21305,Subscriber,1982.0,Male,33.0
289696,652,9/30/2015 23:59:44,10/1/2015 00:10:37,432,E 7 St & Avenue A,40.726218,-73.983799,476,E 31 St & 3 Ave,40.743943,-73.979661,23486,Subscriber,1979.0,Male,36.0
289697,1733,9/30/2015 23:59:48,10/1/2015 00:28:42,267,Broadway & W 36 St,40.750977,-73.987654,3129,Queens Plaza North & Crescent St,40.751102,-73.940737,23705,Subscriber,1985.0,Female,30.0
289698,1106,9/30/2015 23:59:57,10/1/2015 00:18:24,228,E 48 St & 3 Ave,40.754601,-73.971879,3176,W 64 St & West End Ave,40.774528,-73.987538,22529,Subscriber,1977.0,Male,38.0

In [37]:
current_year = 2015
trip_Octa_df= trip_Octa_df.dropna(subset=['birth year'])
birth_year_Octa = trip_Octa_df["birth year"]
age = current_year - birth_year_Octa
trip_Octa_df['age'] = age
trip_Octa_df

/var/folders/nh/8v2vnxrx4zjf2bjtfqnchp600000gn/T/ipykernel_33828/3742522340.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip_Octa_df['age'] = age

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
0,171,10/1/2015 00:00:02,10/1/2015 00:02:54,388,W 26 St & 10 Ave,40.749718,-74.002950,494,W 26 St & 8 Ave,40.747348,-73.997236,24302,Subscriber,1973.0,Male,42.0
1,593,10/1/2015 00:00:02,10/1/2015 00:09:55,518,E 39 St & 2 Ave,40.747804,-73.973442,438,St Marks Pl & 1 Ave,40.727791,-73.985649,19904,Subscriber,1990.0,Male,25.0
2,233,10/1/2015 00:00:11,10/1/2015 00:04:05,447,8 Ave & W 52 St,40.763707,-73.985162,447,8 Ave & W 52 St,40.763707,-73.985162,17797,Subscriber,1984.0,Male,31.0
3,250,10/1/2015 00:00:15,10/1/2015 00:04:25,336,Sullivan St & Washington Sq,40.730477,-73.999061,223,W 13 St & 7 Ave,40.737815,-73.999947,23966,Subscriber,1984.0,Male,31.0
6,1185,10/1/2015 00:00:22,10/1/2015 00:20:07,531,Forsyth St & Broome St,40.718939,-73.992663,3064,Myrtle Ave & Lewis Ave,40.696820,-73.937569,17110,Subscriber,1987.0,Male,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,239,10/26/2015 13:09:55,10/26/2015 13:13:54,368,Carmine St & 6 Ave,40.730386,-74.002150,127,Barrow St & Hudson St,40.731724,-74.006744,23149,Subscriber,1992.0,Male,23.0
999996,275,10/26/2015 13:10:01,10/26/2015 13:14:36,533,Broadway & W 39 St,40.752996,-73.987216,517,Pershing Square South,40.751581,-73.977910,23380,Subscriber,1989.0,Male,26.0
999997,715,10/26/2015 13:10:01,10/26/2015 13:21:57,523,W 38 St & 8 Ave,40.754666,-73.991382,475,E 16 St & Irving Pl,40.735243,-73.987586,18295,Subscriber,1982.0,Male,33.0
999998,1378,10/26/2015 13:10:04,10/26/2015 13:33:03,379,W 31 St & 7 Ave,40.749156,-73.991600,428,E 3 St & 1 Ave,40.724677,-73.987834,19233,Subscriber,1991.0,Male,24.0
999999,514,10/26/2015 13:10:08,10/26/2015 13:18:43,534,Water - Whitehall Plaza,40.702551,-74.012723,3002,South End Ave & Liberty St,40.711512,-74.015756,23703,Subscriber,1973.0,Male,42.0

In [38]:
current_year = 2015
trip_Octb_df= trip_Octb_df.dropna(subset=['birth year'])
birth_year_Octb = trip_Octb_df["birth year"]
age = current_year - birth_year_Octb
trip_Octb_df['age'] = age
trip_Octb_df

/var/folders/nh/8v2vnxrx4zjf2bjtfqnchp600000gn/T/ipykernel_33828/51131478.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip_Octb_df['age'] = age

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
0,555,10/26/2015 13:10:10,10/26/2015 13:19:25,480,W 53 St & 10 Ave,40.766697,-73.990617,524,W 43 St & 6 Ave,40.755273,-73.983169,17359,Subscriber,1988.0,Male,27.0
1,818,10/26/2015 13:10:19,10/26/2015 13:23:58,281,Grand Army Plaza & Central Park S,40.764397,-73.973715,3148,E 84 St & 1 Ave,40.775655,-73.950686,19726,Subscriber,1993.0,Male,22.0
2,400,10/26/2015 13:10:18,10/26/2015 13:16:58,293,Lafayette St & E 8 St,40.730287,-73.990765,303,Mercer St & Spring St,40.723627,-73.999496,23696,Subscriber,1984.0,Male,31.0
3,513,10/26/2015 13:10:20,10/26/2015 13:18:53,362,Broadway & W 37 St,40.751726,-73.987535,435,W 21 St & 6 Ave,40.741740,-73.994156,23812,Subscriber,1979.0,Male,36.0
4,233,10/26/2015 13:10:21,10/26/2015 13:14:14,3158,W 63 St & Broadway,40.771639,-73.982614,468,Broadway & W 55 St,40.765265,-73.981923,24045,Subscriber,1987.0,Male,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212272,1924,10/31/2015 23:59:46,11/1/2015 00:31:50,498,Broadway & W 32 St,40.748549,-73.988084,531,Forsyth St & Broome St,40.718939,-73.992663,17292,Subscriber,1960.0,Male,55.0
212273,711,10/31/2015 23:59:50,11/1/2015 00:11:42,348,W Broadway & Spring St,40.724910,-74.001547,361,Allen St & Hester St,40.716059,-73.991908,23374,Subscriber,1982.0,Male,33.0
212274,621,10/31/2015 23:59:54,11/1/2015 00:10:15,237,E 11 St & 2 Ave,40.730473,-73.986724,348,W Broadway & Spring St,40.724910,-74.001547,23503,Subscriber,1990.0,Male,25.0
212275,632,10/31/2015 23:59:56,11/1/2015 00:10:29,237,E 11 St & 2 Ave,40.730473,-73.986724,348,W Broadway & Spring St,40.724910,-74.001547,22104,Subscriber,1980.0,Female,35.0
212276,807,10/31/2015 23:59:57,11/1/2015 00:13:24,468,Broadway & W 55 St,40.765265,-73.981923,446,W 24 St & 7 Ave,40.744876,-73.995299,14597,Subscriber,1967.0,Male,48.0

In [39]:
current_year = 2015
trip_Nov_df= trip_Nov_df.dropna(subset=['birth year'])
birth_year_Nov = trip_Nov_df["birth year"]
age = current_year - birth_year_Nov
trip_Nov_df['age'] = age
trip_Nov_df

/var/folders/nh/8v2vnxrx4zjf2bjtfqnchp600000gn/T/ipykernel_33828/1954945889.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip_Nov_df['age'] = age

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
0,1110,11/1/2015 00:00:00,11/1/2015 00:18:31,537,Lexington Ave & E 24 St,40.740259,-73.984092,531,Forsyth St & Broome St,40.718939,-73.992663,22545,Subscriber,1981.0,Female,34.0
1,1094,11/1/2015 00:00:01,11/1/2015 00:18:15,537,Lexington Ave & E 24 St,40.740259,-73.984092,531,Forsyth St & Broome St,40.718939,-73.992663,23959,Subscriber,1980.0,Male,35.0
2,520,11/1/2015 00:00:05,11/1/2015 00:08:45,536,1 Ave & E 30 St,40.741444,-73.975361,498,Broadway & W 32 St,40.748549,-73.988084,22251,Subscriber,1988.0,Male,27.0
3,753,11/1/2015 00:00:15,11/1/2015 00:12:48,229,Great Jones St,40.727434,-73.993790,328,Watts St & Greenwich St,40.724055,-74.009660,15869,Subscriber,1981.0,Male,34.0
4,353,11/1/2015 00:00:22,11/1/2015 00:06:15,285,Broadway & E 14 St,40.734546,-73.990741,151,Cleveland Pl & Spring St,40.722104,-73.997249,21645,Subscriber,1987.0,Male,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987240,133,11/30/2015 23:58:36,12/1/2015 00:00:49,250,Lafayette St & Jersey St,40.724561,-73.995653,251,Mott St & Prince St,40.723180,-73.994800,22791,Subscriber,1977.0,Male,38.0
987241,495,11/30/2015 23:58:42,12/1/2015 00:06:58,476,E 31 St & 3 Ave,40.743943,-73.979661,237,E 11 St & 2 Ave,40.730473,-73.986724,22448,Subscriber,1989.0,Female,26.0
987242,1374,11/30/2015 23:58:48,12/1/2015 00:21:43,3161,W 76 St & Columbus Ave,40.780184,-73.977285,385,E 55 St & 2 Ave,40.757973,-73.966033,21543,Subscriber,1974.0,Male,41.0
987243,229,11/30/2015 23:59:01,12/1/2015 00:02:51,3110,Meserole Ave & Manhattan Ave,40.727086,-73.952991,3101,N 12 St & Bedford Ave,40.720798,-73.954847,19085,Subscriber,1982.0,Female,33.0
987244,234,11/30/2015 23:59:11,12/1/2015 00:03:05,279,Peck Slip & Front St,40.707873,-74.001670,408,Market St & Cherry St,40.710762,-73.994004,23951,Subscriber,1958.0,Male,57.0

In [40]:
current_year = 2015
trip_Dec_df= trip_Dec_df.dropna(subset=['birth year'])
birth_year_Dec = trip_Dec_df["birth year"]
age = current_year - birth_year_Dec
trip_Dec_df['age'] = age
trip_Dec_df

/var/folders/nh/8v2vnxrx4zjf2bjtfqnchp600000gn/T/ipykernel_33828/607344561.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip_Dec_df['age'] = age

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
0,1346,1/1/2015 0:01,1/1/2015 0:24,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,-73.991475,18660,Subscriber,1960.0,Female,55.0
1,363,1/1/2015 0:02,1/1/2015 0:08,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,16085,Subscriber,1963.0,Male,52.0
2,346,1/1/2015 0:04,1/1/2015 0:10,491,E 24 St & Park Ave S,40.740964,-73.986022,505,6 Ave & W 33 St,40.749013,-73.988484,20845,Subscriber,1974.0,Male,41.0
3,182,1/1/2015 0:04,1/1/2015 0:07,384,Fulton St & Waverly Ave,40.683178,-73.965964,399,Lafayette Ave & St James Pl,40.688515,-73.964763,19610,Subscriber,1969.0,Male,46.0
4,969,1/1/2015 0:05,1/1/2015 0:21,474,5 Ave & E 29 St,40.745168,-73.986831,432,E 7 St & Avenue A,40.726218,-73.983799,20197,Subscriber,1977.0,Male,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285547,169,1/31/2015 23:57,2/1/2015 0:00,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,368,Carmine St & 6 Ave,40.730386,-74.002150,17456,Subscriber,1956.0,Male,59.0
285548,827,1/31/2015 23:58,2/1/2015 0:12,252,MacDougal St & Washington Sq,40.732264,-73.998522,440,E 45 St & 3 Ave,40.752554,-73.972826,17669,Subscriber,1976.0,Male,39.0
285549,798,1/31/2015 23:58,2/1/2015 0:11,127,Barrow St & Hudson St,40.731724,-74.006744,433,E 13 St & Avenue A,40.729554,-73.980572,20237,Subscriber,1994.0,Male,21.0
285550,725,1/31/2015 23:58,2/1/2015 0:10,435,W 21 St & 6 Ave,40.741740,-73.994156,368,Carmine St & 6 Ave,40.730386,-74.002150,21029,Subscriber,1957.0,Male,58.0
285551,892,1/31/2015 23:59,2/1/2015 0:14,504,1 Ave & E 15 St,40.732219,-73.981656,295,Pike St & E Broadway,40.714067,-73.992939,18342,Subscriber,1974.0,Male,41.0

In [41]:
trip_Jan_df.to_csv("Cleaned Data", index=False, header=True)

In [43]:
trip_Augb_df = trip_Augb
trip_Augb_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
0,675,8/27/2015 11:08:19,8/27/2015 11:19:34,127,Barrow St & Hudson St,40.731724,-74.006744,509,9 Ave & W 22 St,40.745497,-74.001971,16760,Subscriber,1966.0,1,49.0
1,192,8/27/2015 11:08:20,8/27/2015 11:11:32,447,8 Ave & W 52 St,40.763707,-73.985162,499,Broadway & W 60 St,40.769155,-73.981918,22210,Subscriber,1983.0,1,32.0
2,1617,8/27/2015 11:08:23,8/27/2015 11:35:20,440,E 45 St & 3 Ave,40.752554,-73.972826,128,MacDougal St & Prince St,40.727103,-74.002971,17207,Subscriber,1984.0,1,31.0
3,861,8/27/2015 11:08:24,8/27/2015 11:22:45,462,W 22 St & 10 Ave,40.746920,-74.004519,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,16462,Subscriber,1968.0,1,47.0
4,178,8/27/2015 11:08:27,8/27/2015 11:11:25,330,Reade St & Broadway,40.714505,-74.005628,257,Lispenard St & Broadway,40.719392,-74.002472,15881,Subscriber,1980.0,1,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179039,423,8/31/2015 23:58:43,9/1/2015 00:05:47,3119,Vernon Blvd & 50 Ave,40.742327,-73.954117,3118,McGuinness Blvd & Eagle St,40.735550,-73.952840,18686,Subscriber,1988.0,1,27.0
179040,1021,8/31/2015 23:58:54,9/1/2015 00:15:56,518,E 39 St & 2 Ave,40.747804,-73.973442,348,W Broadway & Spring St,40.724910,-74.001547,23487,Subscriber,1970.0,1,45.0
179041,1896,8/31/2015 23:59:11,9/1/2015 00:30:47,336,Sullivan St & Washington Sq,40.730477,-73.999061,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,23509,Subscriber,1982.0,1,33.0
179042,826,8/31/2015 23:59:16,9/1/2015 00:13:02,3075,Division Ave & Marcy Ave,40.707087,-73.957968,364,Lafayette Ave & Classon Ave,40.689004,-73.960239,15405,Customer,NaN,0,NaN
179043,105,8/31/2015 23:59:41,9/1/2015 00:01:26,476,E 31 St & 3 Ave,40.743943,-73.979661,546,E 30 St & Park Ave S,40.744449,-73.983035,23947,Subscriber,1975.0,1,40.0

In [44]:
trip_Jan_df = trip_Jan
trip_Jan_df
# trip_Jan_df = pd.DataFrame({"data": ["January_2015"]})
csv_file_path = "Clean_Data/January_2015.csv"
# os.makedirs(os.path.dirname(csv_file_path), exist_ok=True)
trip_Jan_df.to_csv(csv_file_path, index=False)
# txt_file_path = "Desktop/Module 18/Assignment/Clean_Data/Clean_Data.txt"
# with open(txt_file_path, "w") as file:
#     file.write(csv_file_path)

print(f"CSV file saved to {csv_file_path}.")

CSV file saved to Clean_Data/January_2015.csv.

In [45]:
trip_Feb_df = trip_Feb
trip_Jan_df

csv_file_path = "Clean_Data/February_2015.csv"

trip_Feb_df.to_csv(csv_file_path, index=False)
print(f"CSV file saved to {csv_file_path}.")

CSV file saved to Clean_Data/February_2015.csv.

In [46]:
trip_Mar_df = trip_Mar
trip_Mar_df
csv_file_path = "Clean_Data/March_2015.csv"
trip_Mar_df.to_csv(csv_file_path, index=False)
print(f"CSV file saved to {csv_file_path}.")

CSV file saved to Clean_Data/March_2015.csv.

In [47]:
trip_Apr_df = trip_Apr
trip_Apr_df
csv_file_path = "Clean_Data/April_2015.csv"
trip_Apr_df.to_csv(csv_file_path, index=False)
print(f"CSV file saved to {csv_file_path}.")

CSV file saved to Clean_Data/April_2015.csv.

In [48]:
trip_May_df = trip_May
trip_May_df
csv_file_path = "Clean_Data/May_2015.csv"
trip_May_df.to_csv(csv_file_path, index=False)
print(f"CSV file saved to {csv_file_path}.")

CSV file saved to Clean_Data/May_2015.csv.

In [49]:
trip_Jun_df = trip_Jun
trip_Jun_df
csv_file_path = "Clean_Data/June_2015.csv"
trip_Jun_df.to_csv(csv_file_path, index=False)
print(f"CSV file saved to {csv_file_path}.")

CSV file saved to Clean_Data/June_2015.csv.

In [50]:
trip_Jula_df = trip_Jula
trip_Jula_df
csv_file_path = "Clean_Data/July_a_2015.csv"
trip_Jula_df.to_csv(csv_file_path, index=False)
print(f"CSV file saved to {csv_file_path}.")

CSV file saved to Clean_Data/July_a_2015.csv.

In [51]:
trip_Julb_df = trip_Julb
trip_Julb_df
csv_file_path = "Clean_Data/July_b_2015.csv"
trip_Julb_df.to_csv(csv_file_path, index=False)
print(f"CSV file saved to {csv_file_path}.")

CSV file saved to Clean_Data/July_b_2015.csv.

In [52]:
trip_Auga_df = trip_Auga
trip_Auga_df
csv_file_path = "Clean_Data/August_2015.csv"
trip_Auga_df.to_csv(csv_file_path, index=False)
print(f"CSV file saved to {csv_file_path}.")

CSV file saved to Clean_Data/August_2015.csv.

In [53]:
trip_Sepa_df = trip_Septa
trip_Sepa_df
csv_file_path = "Clean_Data/September_a_2015.csv"
trip_Sepa_df.to_csv(csv_file_path, index=False)
print(f"CSV file saved to {csv_file_path}.")

CSV file saved to Clean_Data/September_a_2015.csv.

In [54]:
trip_Sepb_df = trip_Septb
trip_Sepb_df
csv_file_path = "Clean_Data/September_b_2015.csv"
trip_Sepb_df.to_csv(csv_file_path, index=False)
print(f"CSV file saved to {csv_file_path}.")

CSV file saved to Clean_Data/September_b_2015.csv.

In [55]:
trip_Octa_df = trip_Octa
trip_Octa_df
csv_file_path = "Clean_Data/October_a_2015.csv"
trip_Octa_df.to_csv(csv_file_path, index=False)
print(f"CSV file saved to {csv_file_path}.")

CSV file saved to Clean_Data/October_a_2015.csv.

In [56]:
trip_Octb_df = trip_Octb
trip_Octb_df
csv_file_path = "Clean_Data/October_b_2015.csv"
trip_Octb_df.to_csv(csv_file_path, index=False)
print(f"CSV file saved to {csv_file_path}.")

CSV file saved to Clean_Data/October_b_2015.csv.

In [57]:
trip_Nov_df = trip_Nov
trip_Nov_df
csv_file_path = "Clean_Data/November_2015.csv"
trip_Nov_df.to_csv(csv_file_path, index=False)
print(f"CSV file saved to {csv_file_path}.")

CSV file saved to Clean_Data/November_2015.csv.

In [58]:
trip_Dec_df = trip_Dec
trip_Dec_df
csv_file_path = "Clean_Data/December_2015.csv"
trip_Dec_df.to_csv(csv_file_path, index=False)
print(f"CSV file saved to {csv_file_path}.")

CSV file saved to Clean_Data/December_2015.csv.